<script id="nf-tmpl-mp-form-content" type="text/template">
	<div class="nf-mp-header"></div>
	<div class="nf-mp-body"></div>
	<div class="nf-mp-footer"></div>
</script>

<script id="nf-tmpl-mp-header" type="text/template">
	<%= renderBreadcrumbs() %>
	<h3>
		<%= title %>
	</h3>
</script>

<script id="nf-tmpl-mp-footer" type="text/template">
	<%= renderNextPrevious() %>
</script>

<script id="nf-tmpl-mp-next-previous" type="text/template">
	<ul class="nf-next-previous">
		<% if ( showPrevious ) { %>
			<li class="nf-previous-item">
				<input type="button" class="nf-previous" value="Previous" />
			</li>
		<% } %>

		<% if ( showNext ) { %>
			<li class="nf-next-item">
				<input type="button" class="nf-next" value="Next" />
			</li>
		<% } %>
	</ul>
</script>

<script id="nf-tmpl-mp-breadcrumbs" type="text/template">
	<ul class="nf-breadcrumbs">
		<% _.each( parts, function( part, index ) { %>
			<% if ( ! part.visible ) return %>
			<li class="<%= ( currentIndex == index ) ? 'active' : '' %> <%= ( part.errors ) ? 'errors' : '' %>">
				<a href="#" class="nf-breadcrumb" data-index="<%= index %>"><%= ( part.errors ) ? '<span class="nf-breadcrumb-error">&#9888;</span>' : '' %> <%= part.title %></a>
			</li>
		<% } ); %>
	</ul>
</script>
