.nf-next-previous {
    li {
        input {
            font-size: 16px;
            padding: 12px 18px;
        }
    }
}

.nf-breadcrumbs {
    margin: 40px 0 !important;
    .nf-breadcrumb-error {
        //display: none;
    }
    li {
        a {
            padding: 12px 18px;
        }
        &.active {
            a {
                font-weight: normal;
            }
        }
        &.errors {
            a {
                position: relative;
                padding-left: 36px;
                &::after {
                    font-family: "FontAwesome";
                    position: absolute;
                    content: "\f06a";
                    left: 12px;
                }
            }
        }
    }
}

progress {
    border: 1px;
    height: 32px;
    //padding: 10px;
    width: 100%;
}

// progress::-webkit-progress-bar {
//     border: 0;
//     height: 32px;
// }

// progress::-webkit-progress-bar {
//     background-color: #e0eaf0;
// }

// progress::-webkit-progress-value {
//     background-color: #329ad1;
// }

// progress::-moz-progress-bar {
//     background-color: #329ad1;
// }
