.nf-next-previous,
.nf-breadcrumbs  {
    content: "";
    list-style-type: none !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    li {
        content: "";
        list-style-type: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.nf-next-previous {
    li {
        &.nf-previous-item {
            float: left;
        }
        &.nf-next-item {
            float: right;
        }
    }
}

.nf-breadcrumbs {
    li {
        float: left;
        a {
            margin-right: 16px;
        }
        &:last-child {
            a {
                margin-right: 0;
            }
        }
        &.active {
            a {
                font-weight: bold;
            }
        }
    }
}
